 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body, html {
            width: 100%;
            height: 100%;
        }

.container {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Links */
.section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  text-decoration: none;
}

/* Borde alrededor del texto y animación de latido */
.text-borde {
  display: inline-block;
  padding: 15px 40px;
  font-size: 40px;
  letter-spacing: 3px;
  color: #fff;
  border: 3px solid #fff; /* borde blanco, cambia a dorado si querés */
  border-radius: 25px; /* bordes redondeados */
  text-align: center;

  /* Animación de latido */
  animation: latido 1.5s infinite;
}

  .text-borde2 {
  display: inline-block;
  padding: 15px 20px;
  font-size: 40px;
  letter-spacing: 3px;
  color: #000;
  border: 3px solid #000; /* borde blanco, cambia a dorado si querés */
  border-radius: 25px; /* bordes redondeados */
  text-align: center;

  /* Animación de latido */
  animation: latido 1.5s infinite;
}

/* Colores */
.cocina .text-borde {
  background-color: #000; /* fondo del recuadro */
}

.cocteleria .text-borde {
  background-color: #111;
}

/* Animación keyframes */
@keyframes latido {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* crece un 10% */
  }
}

/* Logo centrado */
.logo-central {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

/* Opcional: efecto hover adicional */
.section:hover {
  transform: scale(1.1); /* crece un poco más al pasar el mouse */
  cursor: pointer;
}


/* Logo flotante */
.logo-central {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;      /* ajustá tamaño */
  height: auto;
  z-index: 2;        /* arriba de todo */
  pointer-events: none; /* no bloquea clicks */
  border-radius: 30px;
}

/* Hover desktop */
        .section:hover {
            transform: scale(1.02);
        }


        .cocina {
            background-color: #000;
            color: #fff;
        }

        .cocteleria {
            background-color: #fff;
            color: #000;
        }

        /* Responsive: en mobile se apilan */
        @media (max-width: 768px) {
            .container {
                flex-direction: column;
            }

            .section {
                width: 100%;
                height: 50vh;
            }
        }